<li class="media__list-item">

  <a
    href="<%= article.data.path %>"
    class="media__link"
  >
    <%= article.data.title %>
  </a>

  <date datetime="<%= article.data.date %>" class="media__date">
    <%= article.data.date.to_s %>
  </date>

  <span class="media__description">
    | <%= article.data.description %>
  </span>
</li>
