<li class="media__list-item">

  <div
    class="media__image"
    style="background-image: url(<%= article.data.image %>)">
  </div>

  <div class="media__text-area">
    <a
      href="<%= article.data.path %>"
      class="media__link"
      target="_blank"
    >
      <%= article.data.title %>
    </a>

    <date datetime="<%= article.data.date %>" class="media__date">
      <%= article.data.date.strftime("%b %d, %Y") %>
    </date>

    <span class="media__description">
      | <%= article.data.description %>
    </span>
  </div>
</li>
